@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slides {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.section {
    scroll-snap-align: start;
    height: 100%;
    width: 100vw;
    margin-bottom: 50px;
}

svg {
    z-index: 10;
}

svg * {
    z-index: 10;
}

.ReactModal__Overlay{
    z-index: 999;
}